<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @plan.category %>
</p>

<p>
  <strong>Group name:</strong>
  <%= @plan.group_name %>
</p>

<p>
  <strong>Project number:</strong>
  <%= @plan.project_number %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @plan.project_name %>
</p>

<p>
  <strong>Accuracy:</strong>
  <%= @plan.accuracy %>
</p>

<p>
  <strong>Dept name:</strong>
  <%= @plan.dept_name %>
</p>

<p>
  <strong>Group name:</strong>
  <%= @plan.group_name %>
</p>

<p>
  <strong>Sub number:</strong>
  <%= @plan.sub_number %>
</p>

<p>
  <strong>System name:</strong>
  <%= @plan.system_name %>
</p>

<p>
  <strong>Contract type:</strong>
  <%= @plan.contract_type %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @plan.company_name %>
</p>

<p>
  <strong>Member rank:</strong>
  <%= @plan.member_rank %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @plan.unit_price %>
</p>

<p>
  <strong>Manhour last month landing:</strong>
  <%= @plan.manhour_last_month_landing %>
</p>

<p>
  <strong>Manhour performance:</strong>
  <%= @plan.manhour_performance %>
</p>

<p>
  <strong>Manhour development plan:</strong>
  <%= @plan.manhour_development_plan %>
</p>

<p>
  <strong>Manhour landing:</strong>
  <%= @plan.manhour_landing %>
</p>

<p>
  <strong>Manhour divergence:</strong>
  <%= @plan.manhour_divergence %>
</p>

<p>
  <strong>Manhour ernings:</strong>
  <%= @plan.manhour_ernings %>
</p>

<p>
  <strong>Money last month landing:</strong>
  <%= @plan.money_last_month_landing %>
</p>

<p>
  <strong>Money performance:</strong>
  <%= @plan.money_performance %>
</p>

<p>
  <strong>Money development plan:</strong>
  <%= @plan.money_development_plan %>
</p>

<p>
  <strong>Money landing:</strong>
  <%= @plan.money_landing %>
</p>

<p>
  <strong>Money divergence:</strong>
  <%= @plan.money_divergence %>
</p>

<p>
  <strong>Money ernings:</strong>
  <%= @plan.money_ernings %>
</p>

<p>
  <strong>Cost rate plan:</strong>
  <%= @plan.cost_rate_plan %>
</p>

<p>
  <strong>Cost rate landing:</strong>
  <%= @plan.cost_rate_landing %>
</p>

<p>
  <strong>Gross profit plan:</strong>
  <%= @plan.gross_profit_plan %>
</p>

<p>
  <strong>Gross profit landing:</strong>
  <%= @plan.gross_profit_landing %>
</p>

<p>
  <strong>Gross profit divergence:</strong>
  <%= @plan.gross_profit_divergence %>
</p>

<p>
  <strong>To be confirmed:</strong>
  <%= @plan.to_be_confirmed %>
</p>

<p>
  <strong>M1:</strong>
  <%= @plan.m1 %>
</p>

<p>
  <strong>M2:</strong>
  <%= @plan.m2 %>
</p>

<p>
  <strong>M3:</strong>
  <%= @plan.m3 %>
</p>

<p>
  <strong>M4:</strong>
  <%= @plan.m4 %>
</p>

<p>
  <strong>M5:</strong>
  <%= @plan.m5 %>
</p>

<p>
  <strong>M6:</strong>
  <%= @plan.m6 %>
</p>

<p>
  <strong>M7:</strong>
  <%= @plan.m7 %>
</p>

<p>
  <strong>M8:</strong>
  <%= @plan.m8 %>
</p>

<p>
  <strong>M9:</strong>
  <%= @plan.m9 %>
</p>

<p>
  <strong>M10:</strong>
  <%= @plan.m10 %>
</p>

<p>
  <strong>M11:</strong>
  <%= @plan.m11 %>
</p>

<p>
  <strong>M12:</strong>
  <%= @plan.m12 %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
